include ./mixins

doctype html
html
  head 

    +polyfill('/index.js')

    //- script(type="text/javascript" src="/index.js")
    link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Patua+One" rel="stylesheet")

    style.
      body{
        margin: 0;
        padding: 0;
      }

  body

    script.
      window.pie = window.pie || {};
      window.pie.config = !{config ? JSON.stringify(config) : '{}'};

    avatar-service(url-template=config.avatarUrl)
    catalog-container
      catalog-listings    
    //- catalog-container(hidden)