doctype html
html
  head 
    script(type="text/javascript" src="/app.js")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")

    style.
      
      :root {
        --catalog-label-color: red;
        /*- --shadow-color: blue;*/
      }

      body{
        background-color: var(--shadow-color, #ECEFF1); 
      }

      pie-catalog-app[hidden] {
        opacity: 0;
      }

      pie-catalog-app {
        opacity: 1.0;
        transition: opacity 0.5s ease-in-out;
      }

      * {
        padding: 0;
        margin: 0;
        font-family: 'Roboto', sans-serif;
      }

  body

    script.
      window['pie-catalog-app-config'] = !{JSON.stringify(config)} || {};
    pie-catalog-app(hidden)