include ./mixins

doctype html
html
  head 


    link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Patua+One" rel="stylesheet")

    +pre_defined

  body

    script.
      window.pie = window.pie || {};
      window.pie.config = !{config ? JSON.stringify(config) : '{}'};

    avatar-service(url-template=config.avatarUrl)
    catalog-container
      span(slot="header")
        | pie catalog
      catalog-listings   

    +polyfill('/index.js')
