doctype html
html
  head 
    script(type="text/javascript" src="/app.js")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")

    style.
      
      :root {
        --catalog-label-color: red;
        /*- --shadow-color: blue;*/
      }

      body{
        background-color: var(--shadow-color, #ECEFF1); 
      }

      * {
        padding: 0;
        margin: 0;
        font-family: 'Roboto', sans-serif;
      }

  body
    pie-catalog-app