
mixin polyfill(paths)
  script.
    
    function loadScript(src, done) {
      console.log('[loadScript] src: ', src);
      var script = document.createElement('script');
      script.src = src;
      script.onload = function() {
        console.log('[loadScript] src: ', src, 'COMPLETE');
        done();
      }
      script.onerror = done.bind(null, new Error('script load failed for ' + src));
      document.head.appendChild(script);
    }

    function loadScriptPromise(src){
      return new Promise(function(resolve, reject){
        loadScript(src, function(err){
          if(err){
            reject(err);
          } else {
            resolve();
          }
        });
      });
    }

    function urlsToPromise(urls){
      return urls.reduce(function(acc, path)  {
        return acc.then(function() {
          return loadScriptPromise(path);
        });
      }, Promise.resolve());
    }

    function loadPolyfills(){
      var paths = !{ JSON.stringify((typeof paths === 'string') ? [paths] : paths)};
      console.log('paths', paths);
      var supportsCustomElementsV1 = 'customElements' in window;
      var supportsShadowDom = 'attachShadow' in document.createElement('div');
      var polyfills = [];

      if(!supportsCustomElementsV1){
        polyfills.push('/polyfills/custom-elements/custom-elements.min.js');
        polyfills.push('/polyfills/custom-elements/src/native-shim.js');
      } 
      
      if(!supportsShadowDom){
        polyfills.push('/polyfills/shadydom/shadydom.min.js');
      }

      if(!('fetch' in window)){
        polyfills.push('/polyfills/whatwg-fetch/fetch.js');
      }
      
      var polyfillsPromise = urlsToPromise(polyfills); 

      polyfillsPromise.then(function() {
          console.log('loaded polyfills: ', polyfills);
          return urlsToPromise(paths)
            .then(function()  {
              console.log('loaded paths: ', paths);
            });
        })
        .catch(function(e) {
          console.error('loading of polyfills failed path:', e.message);
        });
    }

    loadPolyfills(); 
    