include ./mixins

doctype html
html
  head 
    +polyfill('/org.js')
    +pre_defined
    link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Patua+One" rel="stylesheet")

  body
    script.
      window.pie = window.pie || {}
      window.pie.org = '!{org}';

    avatar-service(url-template=config.avatarUrl)
    catalog-container(hidden)
      span(slot="header")
        | pie catalog
      catalog-listings   
      catalog-org(org=org) 
